/* Overlay phủ nền */
.swal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.swal-title {
    font-size: 1.5rem;
}
/* Khung hộp thoại chính */
.swal-dialog {
    background-color: #fff;
    border-radius: 5px;
    min-width: 300px;
    max-width: 550px;
    width: 32rem;
    padding: 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
}

/* Header */
.swal-header {
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    justify-items: anchor-center;
}

/* Nội dung */
.swal-body {
    padding: 20px;
    font-size: 1rem;
    text-align: center;
    padding-top: 0px;
}

/* Nút dưới */
.swal-footer {
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
    /*border-top: 1px solid #eee;*/
}

/* Nút bấm */
.swal-btn {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    text-align: center;
    width: 6rem;
}

    .swal-btn:disabled {
        cursor: default;
    }

    .swal-btn:focus {
        box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
    }

    .swal-btn.ok {
        background-color: #405cf5;
        color: white;
    }

    .swal-btn.cancel {
        background-color: #E57373;
        color: white;
    }

    .swal-btn:hover {
        opacity: 0.9;
    }

/* Màu theo loại thông báo */
.swal-info .swal-header {
    background-color: #2196f3;
}

.swal-warning .swal-header {
    background-color: #ffc107;
    color: black;
}

.swal-success .swal-header {
    background-color: #28a745;
}

.swal-error .swal-header {
    background-color: #dc3545;
}

.swal-confirm .swal-header {
    background-color: #17a2b8;
}

.swal-loading .swal-header {
    background-color: #6c757d;
}

/* Spinner loading */
.swal-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #2196f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    animation: spin 1s linear infinite;
}

/* Hiệu ứng */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
